**/.git
**/.gitignore
**/node_modules
**/npm-debug.log
**/.env
**/.env.local
**/.DS_Store
**/dist
**/build
**/.next
**/.cache
**/coverage
**/.vscode
**/.idea
**/*.log
**/yarn-error.log
**/*.d.ts
LICENSE
README.md
.dockerignore
docker-compose.yml
